
  
  h3{
   
    border-bottom-style:outset;
    border-color: black;
    border-width: 3px; 
    padding: 15px;
   
    
  }
  p.ViewSite:hover {
    color: red;
  }
p.Desc::first-letter{
  font-size: 30px;}

  .main-nav:hover{ 
    color: blue !important; }
  
h1.gur {
      text-shadow: 2px 2px red; 
      font-style: 'Times New Roman';
    }
